<div class="container" id="rally">

    <div class="loader" *ngIf="showLoading"></div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Let's start the game !</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let participant of participants | orderByPipe">

            <div class="row participant-row">
                <div class="col-xs-6">
                    <p><span class="starting-number">{{ participant.car.startingNumber }}</span></p>
                </div>
                <div class="col-xs-6">
                    <div>
                        <span class="licence-plate">{{ participant.car.licensePlatePart1 }} - {{ participant.car.licensePlatePart2 }} {{ participant.car.licensePlatePart3 }}</span>

                        <button class="btn btn-danger" (click)="resetTimer(participant)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>

                        <select [(ngModel)]="participant.bonusPoints" name="bonuspoints" id="bonuspoints"
                                (change)="updateBonuspoints(participant)">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>

                    </div>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success" *ngIf="!participant.startTime" (click)="startRally(participant);">
                        <span class="glyphicon glyphicon-play"></span> <span>Start</span>
                    </button>

                    <span class="timer" *ngIf="participant.startTime">
                        {{ participant.startTime | date : 'HH:mm:ss' }}
                    </span>

                    <!--app-rally-timer [startTime]="participant.startTime" [stopTime]="participant.endTime"></app-rally-timer-->
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-danger" *ngIf="!participant.endTime"
                            [disabled]="!participant.startTime" (click)="stopRally(participant);">
                        <span class="glyphicon glyphicon-stop"></span> <span>Beende</span>
                    </button>
                    <span class="timer" *ngIf="participant.endTime">{{ participant.endTime | date : 'HH:mm:ss' }}</span>
                </div>
            </div>
        </div>

    </div>


    <div class="thumbnail">
        <img src="./assets/rally.jpg">
    </div>

</div>