#rally {
    margin-top: 140px;
}

.licence-plate, .starting-number {
    font-weight: bold;
}

.participant-row {
    padding: 15px;
    height: 150px;
    /*border: 6px solid #F2F2F2;*/
}

.glyphicon-remove {
    width: 20px;
    height: 20px;
    font-size: 8px;
    text-align: center;
}

.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../../assets/icons/hourglass.gif') 50% 50% no-repeat rgba(249,249,249,0.8);
}


@media (min-width: 768px){
    .participant-row .col-xs-6 {
        height: 50%;
    }
}