<div class="container">
    <footer>
        <hr>
        <p>
            &copy; 2017 <a href="mailto:andre@alfa-romeo-portal.de">Alfa Romeo Portal</a> | sponsored by <a href="http://www.italoecu.de">ItaloEcu.de</a>
       </p>
    </footer>
</div>

