<div class="container" id="admindashboard">

    <div class="row">

        <a [routerLink]="['/admin/participant']" class="col-xs-12 col-md-6 action-panel user">
            <div class="link">
                <span>Neuen Teilnehmer hinzufügen</span>
            </div>
        </a>

        <a [routerLink]="['/admin/rally']" class="col-xs-12 col-md-6 action-panel rally">
            <div class="link">
                <span>Rallye 2017</span>
            </div>
        </a>

    </div>

</div>

