#admindashboard {
    margin-top: 140px;
}

#admindashboard .user {
    background: #fff url("../../../../assets/icons/user.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
}

#admindashboard .rally {
    background: #fff url("../../../../assets/icons/racing-flag.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
}

#admindashboard .action-panel {
    height: 150px;
    padding: 10px;
    position: relative;
    margin-bottom: 50px;
}

#admindashboard .action-panel .link {
    bottom: -45px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;

}

#admindashboard .action-panel .link span {
    color: #990000;
    font-size: 21px;
}


@media (min-width: 768px) {

    #admindashboard .action-panel {
        height: 350px;
        padding: 10px;

    }

}