.navbar a, .navbar  a:hover, .navbar  a:active {
    color: rgb(255,255,255);
    text-decoration: none;
}


.navbar-header {
    border-bottom: 1px solid rgb(255,255,255);
}

.navbar-inverse {
    background-color: #990000;
    border-color: #990000;
}

.navbar-toggle {
    border-color: rgb(255,255,255);
    margin-bottom: 25px;
    margin-top: 25px;
}

.navbar-brand {
    color: rgb(255,255,255);
    font-size: 20px;
    height: auto;
    width: 79%;
}

.navbar-brand h1 {
    font-size: 24px;
    font-weight: 200;
    margin-top: 0;
}

.navbar-brand h4 {
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: 200;
}


#navigation .navbar-right {
    padding-top: 25px;
}

#navigation .navbar-nav.navbar-right .btn {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 8px;
    width: 90%;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}



@media (min-width: 768px) {

    .navbar-header {
        border-bottom: none;
    }

    .navbar-brand {
        width: auto;
    }

    .navbar-brand h1 {
        font-size: 30px;
    }

    .navbar-brand h4 {
        font-size: 14px;
    }


    #navigation {
        margin-top: 0;
        padding-bottom: 0;
    }

    #navigation ul {
        list-style: none;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    #navigation ul li {
        padding-right: 10px;
        border: none;
        display: inline;
    }


    #navigation .navbar-nav.navbar-right .btn {
        width: auto;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
