<nav id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <h1><a routerLink="/landing">Alfa Romeo Portal</a></h1>
                <h4>Guter Geschmack muss nicht einsam machen!</h4>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navigation" class="navbar-collapse collapse" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">


        <ul class="nav navbar-nav">
                <li><a [routerLink]="['/participants']" (click)="isCollapsed = !isCollapsed">Teilnehmer</a></li>
                <li><a [routerLink]="['/scoring']" (click)="isCollapsed = !isCollapsed">Live Auswertung</a></li>
                <li *ngIf="login.authenticated" (click)="isCollapsed = !isCollapsed">
                    <a [routerLink]="['/admin/dashboard']">Admin Dashboard</a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" (ngSubmit)="loginAdmin()" #loginForm="ngForm" *ngIf="!login.authenticated">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" [(ngModel)]="login.email" name="email" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" [(ngModel)]="login.password" name="password" required>
                </div>
                <button type="submit" class="btn btn-success" (click)="isCollapsed = !isCollapsed">Login</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="submit" class="btn btn-success" *ngIf="login.authenticated" (click)="logout(); isCollapsed = !isCollapsed;">Logout</button>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>