<div class="container" id="landing">

    <div class="jumbotron">

            <h1>ARP Rallye 2017</h1>

            <p>Zum ersten Mal in der Geschichte des Alfa Romeo Portals
                und des alljährlichen Alfa Romeo Portal Treffens, werden wir eine Rallye für die Teilnehmer veranstalten.</p>
            <p><a class="btn btn-primary btn-lg" routerLink="/participants" role="button">Teilnehmer &raquo;</a></p>

    </div>

    <div class="row">

        <div class="col-xs-12">
            <p>Anlässlich unseres großen Alfa Romeo Portaltreffens vom 15.6. - 18.6.2017 werden wir unsere 1. Alfa
                Romeo
                Portal Rallye veranstalten. Vorraussichtlicher Termin wird Freitag der 16.6.2017 sein. Die genaue
                Uhrzeit wird euch bei der
                Registrierung beim Treffen mitgeteilt.</p>

            <p>
                Austragungsort der Rallye und des Treffens <br><br>
                <strong>Ferienpark Birnbaumteich GmbH
                <br><br>
                Am Birnbaumteich<br>
                06493 Neudorf im Harz
                </strong>
            </p>

            <div class="thumbnail">
                <img src="./assets/lancia.jpg"
                     alt="Alfa Romeo Portal Rally 2017" title="Alfa Romeo Portal Rally 2017">
            </div>

            <p>
                Bei der Rallye wird es darum gehen eine vorbestimmte Strecke zu fahren und auf dem Weg 3 Stationen
                anzufahren um dort Aufgaben zu erledigen. Im Ziel wird es dann auch noch eine 4. Aufgabe geben.

                Bei korrekter Lösung der Aufgaben kann man Guthaben auf seinem Zeitkonto sammeln, pro Aufgabe 25 Sekunden.
                Pro teilnehmendes Fahrzeug und Lauf wird die Zeit genommen, gespeichert und am Ende ausgewertet.
            </p>
            <p>

                Die Auswertung der Rallye kann live hier im ARP verfolgt und angeschaut werden.
            </p>
            <p>

                Wichtig: Vorraussetzung für die Teilnahme an der Rallye ist der Erwerb einer Startnummer.
                Eine Startnummer gilt für genau ein KFZ und kann nicht untereinander getauscht werden.
                Startnummer und Kennzeichen werden beim Start zur Rallye registriert!

                Wir werden den Kurs vorher selber abfahren und eine Referenzzeit ermitteln, dabei halten wir uns an die
                Verkehrsregeln, so wie sie vor Ort vorgegeben sind. Sollte es Teilnehmer geben bei denen die Zeit deutlich
                unter der Referenzzeit liegt, dann müssen wir davon ausgehen, dass gerast wurde und somit wird der
                Teilnehmer disqualifiziert. Rasen auf öffentlichen Straßen wollen und unterstützen wir nicht!
            </p>

            <div class="row">
                <div class="col-xs-12 col-md-6">

                    <div class="thumbnail">
                        <img src="./assets/autocross.jpg"
                             alt="Alfa Romeo Portal Rally 2017" title="Alfa Romeo Portal Rally 2017">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">

                    <div class="thumbnail">
                        <img src="./assets/rally.jpg"
                             alt="Alfa Romeo Portal Rally 2017" title="Alfa Romeo Portal Rally 2017">
                    </div>
                </div>
            </div>

            <p>
                <a href="https://www.alfa-romeo-portal.de/arcommunity/treffen-und-veranstaltungen-67/12-arp-treffen-aufkleber-support-42569.html">Die
                    Startnummern könnt ihr bei unserem Klebemeister Carsten bestellen und erwerben.</a>
            </p>


            <p>
                Als Preise winken für die ersten 3, jeweils ein Pokal, und für die weiteren noch kleine Sachpreise.
            </p>


            <div class="thumbnail">
                <img src="./assets/winner.jpg"
                     alt="Alfa Romeo Portal Rallye 2017" title="Alfa Romeo Portal Rallye 2017">
            </div>

            <p>Wir hoffen auf eine rege Teilnahme und Viel Spaß für die Piloten.</p>


        </div>

    </div>
</div>


















