#landing {
    margin-top: 130px;
}

.jumbotron {
    border-radius:  8px;
}

.btn-primary {
    background-color: #990000;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-success {
    background-color: #333;
    border-color: #333;
    color: #ffffff;
}