#participant {
    margin-top: 140px;
}

#licensePlatePart1, #licensePlatePart2, #licensePlatePart3  {
    width: 100%;
}

h4 {
    color: #990000;
}

.btn-success {
    width: 100%;
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}


.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../../assets/icons/hourglass.gif') 50% 50% no-repeat rgba(249,249,249,0.8);
}


@media (min-width: 768px) {

    #licensePlatePart1, #licensePlatePart2, #licensePlatePart3  {
        width: 120px !important;
    }

}