<div class="container" id="participant">

    <div class="loader" *ngIf="showLoading"></div>

    <alert type="success" *ngIf="showSuccess" dismissible="true" dismissOnTimeout="3000" (onClose)="resetSuccessNotice()">
        <strong>Erfolg!</strong> Der neue Teilnehmer wurde erfolgreich registriert.
    </alert>

    <alert type="danger" *ngIf="showError" dismissible="true" dismissOnTimeout="3000" (onClose)="resetErrorNotice()">
        <strong>Fehler!</strong> Der neue Teilnehmer konnte nicht erfolgreich registriert werden!
    </alert>

    <h3>Rallye Teilnehmer hinzufügen</h3>
    <form #participantForm="ngForm">

        <div class="form-group col-xs-12">
                <h4>Kennzeichen</h4>

                <p>
                    Ein Kennzeichen besteht aus 3 Teilen.
                </p>

                <ul>
                    <li>Teil 1: 1-3 Buchstaben</li>
                    <li>Teil 2: 1-2 Buchstaben</li>
                    <li>Teil 3: 1-4 Ziffern</li>
                    <li>Bsp: B - QV 400</li>
                </ul>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label for="licensePlatePart1">Kennzeichen Teil 1 <span class="requiered">*</span></label>
            <input type="text" class="form-control" id="licensePlatePart1" name="licensePlatePart1" [(ngModel)]="participant.car.licensePlatePart1" maxlength="3" required>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label for="licensePlatePart2">Kennzeichen Teil 2 <span class="requiered">*</span></label>
            <input type="text" class="form-control" id="licensePlatePart2" name="licensePlatePart2" [(ngModel)]="participant.car.licensePlatePart2" maxlength="2" required>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
            <label for="licensePlatePart3">Kennzeichen Teil 3 <span class="requiered">*</span></label>
            <input type="number" class="form-control" id="licensePlatePart3" name="licensePlatePart3" [(ngModel)]="participant.car.licensePlatePart3" min="1" max="9999" maxlength="4" required>
        </div>

        <div class="form-group col-xs-12">
            <label for="startingNumber">Startnummer <span class="requiered">*</span></label>
            <input type="number" class="form-control" id="startingNumber" name="startingNumber" [(ngModel)]="participant.car.startingNumber" min="1" max="9999" maxlength="4" required>
        </div>

        <div class="form-group col-xs-12">
            <label for="make">Hersteller</label>
            <input type="text" class="form-control" id="make" name="make" [(ngModel)]="participant.car.make">
        </div>

        <div class="form-group col-xs-12">
            <label for="model">Modell</label>
            <input type="text" class="form-control" id="model" name="model" [(ngModel)]="participant.car.model">
        </div>

        <div class="form-group col-xs-12">
            <label for="engine">Motor</label>
            <input type="text" class="form-control" id="engine" name="engine" [(ngModel)]="participant.car.engine">
        </div>




        <div class="form-group col-xs-12">
                <h4>Fahrer-Informationen</h4>
        </div>

        <div class="form-group col-xs-12 col-sm-6">
            <label for="dFirstname">Vorname <span class="requiered">*</span></label>
            <input type="text" class="form-control" id="dFirstname" name="dFirstname" [(ngModel)]="participant.driver.firstName" required>
        </div>

        <div class="form-group col-xs-12 col-sm-6">
            <label for="dLastname">Nachname <span class="requiered">*</span></label>
            <input type="text" class="form-control" id="dLastname" name="dLastname" [(ngModel)]="participant.driver.lastName">
        </div>

        <div class="form-group col-xs-12 col-sm-10">
            <label for="dEmail">E-Mail</label>
            <input type="email" class="form-control" id="dEmail" name="dEmail" [(ngModel)]="participant.driver.email">
        </div>

        <div class="form-group col-xs-12 col-sm-2">
            <label for="dAge">Alter</label>
            <input type="number" class="form-control" id="dAge" name="dAge" [(ngModel)]="participant.driver.age" min="18" max="130" maxlength="3">
        </div>




        <div class="form-group col-xs-12">
                <h4>Beifahrer-Informationen</h4>
        </div>

        <div class="form-group col-xs-12 col-sm-6">
            <label for="codFirstname">Vorname <span class="requiered">*</span></label>
            <input type="text" class="form-control" id="codFirstname" name="codFirstname" [(ngModel)]="participant.codriver.firstName">
        </div>

        <div class="form-group col-xs-12 col-sm-6">
            <label for="codLastname">Nachname <span class="requiered">*</span></label>
            <input type="text" class="form-control" id="codLastname" name="codLastname" [(ngModel)]="participant.codriver.lastName">
        </div>

        <div class="form-group col-xs-12 col-sm-10">
            <label for="codEmail">E-Mail</label>
            <input type="email" class="form-control" id="codEmail" name="codEmail" [(ngModel)]="participant.codriver.email">
        </div>

        <div class="form-group col-xs-12 col-sm-2">
            <label for="codAge">Alter</label>
            <input type="number" class="form-control" id="codAge" name="codAge" [(ngModel)]="participant.codriver.age" min="18" max="130" maxlength="3">
        </div>

        <button type="submit" class="btn btn-success"
                (click)="createParticipant(participantForm)"
                scrollTo scrollTargetSelector="#header"
                [disabled]="!participantForm.form.valid">
            <span>Neuen Teilnehmer hinzufügen</span>
        </button>

    </form>
</div>

