<div class="container" id="scoring">

    <div class="loader" *ngIf="showLoading"></div>

    <div class="jumbotron">
        <h2>Live Auswertung</h2>

        <p>
            Am 16.6.2017, kann hier die Live Auswertung der ARP 2017 Rallye verfolgt werden.
        </p>
    </div>

    <div class="row btn-row" *ngIf="participants">
        <div class="col-xs-12">
            <button class="btn btn-success refresh" (click)="getParticipants()">
                <span class="glyphicon glyphicon-refresh"></span> Aktualisieren
            </button>
        </div>
    </div>

    <div class="row" *ngFor="let participant of participants | orderByTimePipe">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2">
                    <span class="starting-number">{{ participant.car.startingNumber }}</span>
                </div>
                <div class="col-xs-5">
                    <span class="licence-plate">{{ participant.car.licensePlatePart1 }} - {{ participant.car.licensePlatePart2 }} {{ participant.car.licensePlatePart3 }}</span>
                </div>
                <div class="col-xs-5">
                    <span class="time" *ngIf="participant.startTime && !participant.endTime">{{ participant.startTime |  date : 'HH:mm:ss' }}</span>
                    <span class="time" *ngIf="participant.startTime && participant.endTime">
                {{ participant.startTime |  date : 'HH:mm:ss' }} / {{ participant.endTime |  date : 'HH:mm:ss' }} / {{ participant.startTime && participant.endTime ? (participant.endTime - participant.startTime + 1000 |  date : 'mm:ss') : '' }}

                <span *ngIf="participant.bonusPoints">Bonus: {{ participant.bonusPoints * 0.25 | number: '1.2-2' }} {{ participant.bonusPoints * 0.25 >= 1 ? ' min' : ' sek' }}</span>
            </span>
                    <span class="time" *ngIf="!participant.startTime">noch nicht gestartet</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row btn-row" *ngIf="participants">
        <div class="col-xs-12">
            <button class="btn btn-success refresh" (click)="getParticipants()">
                <span class="glyphicon glyphicon-refresh"></span>Aktualisieren
            </button>
        </div>
    </div>


    <div class="thumbnail">
        <img src="./assets/rally.jpg">
    </div>

</div>

