#scoring {
    margin-top: 130px;
}

#scoring > .row > .col-xs-12 > .row {
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius:  8px;
    font-size: 12px;
    margin: 0;
}

#scoring > .row:nth-child(even) > .col-xs-12 > .row {
    background-color: #F2F2F2;
}

.refresh {
    width: 100%;
}

.btn-row {
    background-color: #fff !important;
}

.btn-row .glyphicon {
    margin-right: 10px;
}

@media (min-width: 768px) {

    #scoring > .row > .col-xs-12 > .row {
        font-size: 16px;
    }

}