<div class="container" id="participants">

    <div class="loader" *ngIf="showLoading"></div>

    <alert type="success" *ngIf="showSuccess" dismissible="true" dismissOnTimeout="3000"
           (onClose)="resetSuccessNotice()">
        <strong>Erfolg!</strong> Die Teilnehmerdaten wurden erfolgreich geladen.
    </alert>

    <alert type="danger" *ngIf="showError" dismissible="true" dismissOnTimeout="3000" (onClose)="resetErrorNotice()">
        <strong>Fehler!</strong> Der Teilnehmer konnte nicht erfolgreich gelöscht werden!
    </alert>

    <h2>Teilnehmer</h2>

    <div class="row" *ngFor="let participant of participants | orderByPipe">
        <div class="col-xs-12">
            <div class="row">

                <div class="col-xs-8 col-sm-1 starting-number">
                    <!--{{ participant.car.licensePlatePart1 }} - {{ participant.car.licensePlatePart2 }} {{ participant.car.licensePlatePart3 }}-->
                    {{ participant.car.startingNumber }}
                </div>

                <div class="col-xs-8 col-sm-2">
                    {{ participant.car.licensePlatePart1 }} - {{ participant.car.licensePlatePart2}}
                </div>

                <div class="col-xs-8 col-sm-2">
                    {{ participant.car.make ? participant.car.make : 'n.a.' }} {{ participant.car.model ?
                    participant.car.model : 'n.a.' }}
                </div>

                <div class="col-xs-8 col-sm-2">
                    {{ participant.car.engine ? participant.car.engine : 'n.a.' }}
                </div>


                <div class="col-xs-8 col-sm-3" *ngIf="!participant.codriver.firstName">
                    {{ participant.driver.firstName }}
                </div>

                <div class="col-xs-8 col-sm-3" *ngIf="participant.codriver && participant.codriver.firstName">
                    {{ participant.driver.firstName }} & {{ participant.codriver.firstName }}
                </div>

                <div class="col-sm-2" *ngIf="isAdmin()">
                    <a (click)="deleteParticipant(participant)" title="Teilnehmer Löschen"><span
                            class="btn btn-danger glyphicon glyphicon-remove"></span></a>
                </div>

            </div>
        </div>
    </div>

</div>
