#participants {
    margin-top: 120px;
}

#participants > .row > .col-xs-12 > .row {
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius:  8px;
    font-size: 12px;
    margin: 0;
}

#participants .row:nth-child(even) > .col-xs-12 > .row {
    background-color: #F2F2F2;
}

#participants > .row > .col-xs-12 > .row > *{
    padding-bottom: 5px;
    padding-top: 5px;
}


.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../assets/icons/hourglass.gif') 50% 50% no-repeat rgba(249,249,249,0.8);
}

@media (min-width: 768px) {

    #participants .row > .col-xs-12 > .row {
        font-size: 16px;
    }

}